<p style="margin-bottom: 0in; line-height: 100%"><b>About Sudoku</b></p>
<p style="margin-bottom: 0in; line-height: 100%">Version: 2.2</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">The rules of the
game Sudoku: <a href="http://en.wikipedia.org/wiki/Sudoku" title="Wiki">en.wikipedia.org/wiki/Sudoku</a></p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Menu on the right:</p>
<ul>
	<li/>
<p style="margin-bottom: 0in; line-height: 100%">&bull; Enter the
	initial conditions of your Sudoku and click “<i>S</i><i>tart</i>”.</p>
	<li/>
<p style="margin-bottom: 0in; line-height: 100%">&bull; You can solve
	the current Sudoku with one click “<i>Put all</i>”.</p>
	<li/>
<p style="margin-bottom: 0in; line-height: 100%">&bull; Also, you can
	use tips (click “<i>Show one</i>”).</p>
</ul>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">For feedback, leave
a comment and send it by e-mail (“Help – Feedback...”).</p><br/>

